ion-tab-bar {
    --background: #ffffff;
    --color: #888;
    --color-selected: #3880ff;
    --border: none;
    padding: 4px 0;
  }
  
  ion-tab-button {
    font-size: 13px;
  }
  
  ion-icon {
    font-size: 20px;
  }
  