<!-- src/app/pages/create-sales-order/create-sales-order.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/sales-orders"></ion-back-button>
    </ion-buttons>
    <ion-title>Create Sales Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="orderForm" (ngSubmit)="createOrder()">
    <ion-item>
      <ion-label position="floating">Customer</ion-label>
      <ion-input formControlName="customer"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Product</ion-label>
      <ion-input formControlName="product"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Quantity</ion-label>
      <ion-input type="number" formControlName="quantity"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Date</ion-label>
      <ion-datetime formControlName="date"></ion-datetime>
    </ion-item>
    
    <ion-button expand="block" type="submit" [disabled]="!orderForm.valid">Create Order</ion-button>
  </form>
</ion-content>